@model QuanLiDiem.Models.RegistrationModel

@{
    ViewData["Title"] = "Đăng Ký";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow-lg border-0 card-login">
                <div class="card-header text-center bg-dark text-white">
                    <h2>Đăng Ký</h2>
                </div>
                <div class="card-body p-5" style="background-color: white">

                    <form method="post" asp-action="Register">
                        <div class="form-group">
                            <b><label for="FullName">Họ tên</label></b>
                            <input type="text" class="form-control" id="FullName" name="FullName" required />
                        </div>
                        <div class="form-group">
                            <b><label for="CitizenId">CCCD</label></b>
                            <input type="text" class="form-control" id="CitizenId" name="CitizenId" required />
                        </div>
                        <div class="form-group">
                            <b><label for="PhoneNumber">Số điện thoại</label></b>
                            <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" required />
                        </div>
                        <div class="form-group">
                            <b><label for="Address">Địa chỉ</label></b>
                            <input type="text" class="form-control" id="Address" name="Address" required />
                        </div>
                        <div class="form-group">
                            <b><label for="Major">Ngành học</label></b>
                            <input type="text" class="form-control" id="Major" name="Major" required />
                        </div>
                        <div class="form-group">
                            <b><label for="GPA1">Điểm TBM 1</label></b>
                            <input type="number" step="0.01" class="form-control" id="GPA1" name="GPA1" required />
                        </div>
                        <div class="form-group">
                            <b><label for="GPA2">Điểm TBM 2</label></b>
                            <input type="number" step="0.01" class="form-control" id="GPA2" name="GPA2" required />
                        </div>
                        <div class="form-group">
                            <b><label for="GPA3">Điểm TBM 3</label></b>
                            <input type="number" step="0.01" class="form-control" id="GPA3" name="GPA3" required />
                        </div>
                        <div class="form-group">
                            <b><label for="Classification">Xếp loại 12</label></b>
                            <input type="text" class="form-control" id="Classification" name="Classification" required />
                        </div>
                        <br>
                        <button type="submit" class="btn btn-dark w-100">Đăng Ký</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        // Kiểm tra nếu có thông báo thành công trong TempData
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                alert("@TempData["SuccessMessage"]");
            </text>
        }
    </script>
}
