@model CapNhatTT_Demo.Models.ThongTinSVModel
@{
    ViewData["Title"] = "Cập nhật thông tin sinh viên";
}

<link href="~/css/styles.css" rel="stylesheet" />

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="Id" />
                <h4 class="text-center">Cập nhật thông tin</h4>
                <hr />
                <!-- Name -->
                <div class="form-group row mb-3 align-items-center">
                    <label asp-for="Name" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <!-- Phone -->
                <div class="form-group row mb-3 align-items-center">
                    <label asp-for="Phone" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>

                <!-- Address -->
                <div class="form-group row mb-3 align-items-center">
                    <label asp-for="Address" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>

                <!-- CMND -->
                <div class="form-group row mb-3 align-items-center">
                    <label asp-for="CMND" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">
                        <input asp-for="CMND" class="form-control" />
                        <span asp-validation-for="CMND" class="text-danger"></span>
                    </div>
                </div>

                <!-- Save Button -->
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <input type="submit" value="Lưu" style="width:100px" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
