@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-3">Quản Lý Điểm Sinh Viên</h4>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
