@model LoginViewModel

@{
    ViewData["Title"] = "Đăng Nhập";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow-lg border-0 card-login">
                <div class="card-header text-center bg-dark text-white">
                    <h2>Đăng Nhập</h2>
                </div>
                <div class="card-body p-5" style="background-color: white">
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @ViewData["ErrorMessage"]
                        </div>
                    }

                    <form method="post">
                        <div class="mb-3">
                            <b><label asp-for="TenTaiKhoan" class="form-label"></label></b>
                            <input asp-for="TenTaiKhoan" class="form-control" placeholder="Tên tài khoản" />
                            <span asp-validation-for="TenTaiKhoan" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <b><label asp-for="MatKhau" class="form-label"></label></b>
                            <input asp-for="MatKhau" class="form-control" placeholder="Mật khẩu" />
                            <span asp-validation-for="MatKhau" class="text-danger"></span>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-dark w-100">Đăng Nhập</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>